.news__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6rem;
}

.news__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.news__navbar-links_container p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 1rem;
  cursor: pointer;
  /* border-right: 1px solid grey; */
}

.navbar__menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.navbar__menu svg {
  cursor: pointer;
}

.navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer-bg);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  z-index: 3;
}

.navbar-menu_container p {
  margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
  .news__navbar-links_container {
    display: none;
  }
  .navbar__menu {
    display: flex;
  }
  .news__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2rem;
  }
}
